Import Dependencies / Machine Learning

In [1]:
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
import json
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [4]:
db_string = f"postgresql://postgres:{db_password}@database-1.caguabqj2yzf.us-east-2.rds.amazonaws.com/3rdDown"

In [5]:
engine = create_engine(db_string)

In [6]:
 df = pd.read_sql('''SELECT * FROM "PlayAws"''', con=engine)

In [7]:
df

,PlayId,GameId,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,Yards,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2,2020122602,2,9,44,LV,MIA,2,10,-9,...,0,0,,18,OPP,0,,0,,0
1,3,2020122602,2,9,3,LV,MIA,3,19,18,...,0,0,LEFT GUARD,27,OPP,0,,0,,0
2,4,2020122500,3,1,17,MIN,NO,3,9,0,...,0,0,,33,OPP,0,NO,1,DEFENSIVE HOLDING,0
3,5,2020122500,3,1,12,MIN,NO,1,10,0,...,0,0,,18,OPP,1,NO,1,DEFENSIVE PASS INTERFERENCE,17
4,6,2020122500,3,1,6,MIN,NO,1,1,-3,...,0,0,LEFT GUARD,1,OPP,0,,0,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46184,46186,2020091300,4,1,38,ATL,SEA,2,9,2,...,0,0,,20,OPP,0,,0,,0
46185,46187,2020091300,4,5,18,,,0,0,0,...,0,0,,0,OPP,0,,0,,0
46186,46188,2020091300,4,2,0,ATL,SEA,1,10,1,...,0,0,,21,OPP,0,,0,,0
46187,46189,2020091300,4,2,0,,,0,0,0,...,0,0,,0,OPP,0,,0,,0
46188,46190,2020091300,4,2,16,ATL,SEA,1,10,12,...,0,0,,33,OPP,0,,0,,0

Import Dataset

In [ ]:
# Load the .csv dataset.
file_path = "../Resources/Use me 2020 NFL 3rd & Long Raw Dataset.csv"
df = pd.read_csv(file_path)
df

In [ ]:
df.columns

In [ ]:
df["OffenseTeam"].unique()

Intialize dataset for analysis by creating new dataframe using 6 of 43 columns in dataset

In [ ]:
#Keep
df = df[['Quarter', 'Down' , 'ToGo', 'Successful 3rd Down Y/N' , 'Formation','PlayType',]]
df.head()

Get count of blank cells
Count now zero

In [ ]:
df.isna().sum()

In [ ]:
df[["Formation", "PlayType"]] = \
    df[["Formation", "PlayType"]].fillna("unk")

Get count of blank cells
Count now zero

In [ ]:
df.isna().sum()

In [ ]:
#Drop all null values
df = df.dropna()
df.head()

In [ ]:
# Get list of unique play types
df['PlayType'].unique().tolist()

In [ ]:
# create list of playtypes resulting in actual play
playlist=df['PlayType'].unique().tolist()
playlist2=['PASS','RUSH','FUMBLE','SACK','SCRAMBLE']

In [ ]:
# created new dataframe using loc method to retrieve Quarter 4, 3rd Down, and unique play typles
q4_df=\
df.loc[(df['Quarter']==4)&\
       (df['Down']== 3)&\
      (df['PlayType'].isin(playlist2))\
      ].reset_index()

In [ ]:
# Get count of play types
q4_df['PlayType'].value_counts()

In [ ]:
q4_df

In [ ]:
# Use loc method to retrieve columns form dataframe
q4_df2 = q4_df.loc[:,"ToGo":"PlayType"]
q4_df2

# Split Data into Training and Testing

In [ ]:
# Create our features
y = q4_df2["Successful 3rd Down Y/N"]
X = q4_df2.drop("Successful 3rd Down Y/N", axis=1)
X = pd.get_dummies(X)

In [ ]:
# Create our target
y = y.replace({"N":0, "Y":1})
y.value_counts()

In [ ]:
X.describe()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Data samples used to train model

In [ ]:
X_train

Data Samples used to test model

In [ ]:
X_test

# Logistic Regression (Binary Classification)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

In [ ]:
# Train the data
classifier.fit(X_train, y_train)

In [ ]:
# Make Predictions
predictions = classifier.predict(X_test)

First three X_test predictions (yes, no, no)

In [ ]:
classifier.predict(X_test)

In [ ]:
classifier.predict_proba(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
print ("Accuracy score")
print (accuracy_score(y_test, predictions))

In [ ]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test,predictions)

# Create a DataFrame from the confusion matrix.
cm_df= pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [ ]:
#from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Displaying results
print("Confusion Matrix")
display(cm_df)
#print(f"Accuracy Score : {accuracy_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

# Balanced Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a random forest classifier.
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.metrics import classification_report_imbalanced
brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78) 
# Fitting the model
brf_model = brf_model.fit(X_train_scaled, y_train)
y_pred = brf_model.predict(X_test_scaled)

In [ ]:
# Calculated the balanced accuracy score
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test,y_pred)
acc_score

In [ ]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test,y_pred)

# Create a DataFrame from the confusion matrix.
cm_df= pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [ ]:
#from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Balanced Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

In [ ]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(importances, X.columns), reverse=True)

# Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
classifier = EasyEnsembleClassifier(n_estimators=100)

classifier.fit(X_train_scaled, y_train)
predictions = classifier.predict(X_test_scaled)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
acc_score = accuracy_score(y_test, y_pred)
print(f"Accuracy Score : {acc_score}")

In [ ]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
   cm, index=["Actual 0", "Actual 1"],
   columns=["Predicted 0", "Predicted 1"]
)
display(cm_df)

In [ ]:
# Print the imbalanced classification report
print("Classification Report")
print(f"Accuracy Score : {acc_score}")
print(classification_report(y_test, y_pred))

# Combination (Over and Under)

In [ ]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

In [ ]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

# SMOTE Oversampling

In [ ]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

Counter(y_resampled)

In [ ]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))